:root{
    --bg-cardinal: #BE3841;
    --bg-indigo_dye: #074173;
    --bg-prussian_blue:#042B4D;
    --bg-malachite:#2cd468;
    --hover-dark_pastel-green:#26BA5A;
    --bg-seasalt:#fafafa;
    --bg-persian_red:#C6463D;
    --bg-gradient: linear-gradient(90deg, rgba(3, 23, 62, 1) 0%, rgba(35, 83, 158, 1) 50%, rgba(148, 28, 53, 1) 100%);

    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    --padding-general: 0 5rem;
}